
<%- include("../../views/partials/user/header") %>
   


 <!-- Hero Slider Begin -->  
 <section class="hero-slider">
     <div class="hero-items owl-carousel">
         <div class="single-slider-item set-bg" data-setbg="img/Ace_Bag.webp">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-12">
                         <h1></h1>
                         <h2></h2>
                         <a href="#" class="primary-btn"></a>
                     </div>
                 </div>
             </div>
         </div>
         <div class="single-slider-item set-bg" data-setbg="img/silder2.png">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-12">
                         <h1></h1>
                         <h2></h2>
                         <a href="#" class="primary-btn"></a>
                     </div>
                 </div>
             </div>
         </div>
         <div class="single-slider-item set-bg" data-setbg="img/silder3.png">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-12">
                         <h1></h1>
                         <h2></h2>
                         <a href="#" class="primary-btn"></a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- Hero Slider End -->

 <!-- Features Section Begin -->
 <section class="features-section spad">
     <div class="features-ads">
         <div class="container">
             <div class="row">
                 <div class="col-lg-4">
                     
                 </div>
                 <div class="col-lg-4">
                   
                 </div>
                 <div class="col-lg-4">
             
                 </div>
             </div>
         </div>
     </div>
     <!-- Features Box -->
     <div class="features-box">
         <div class="container">
             <div class="row">
                 <div class="col-lg-6">
                     <div class="row">
                         <div class="col-lg-12">
                             <div class="single-box-item first-box">
                                 <img src="img/f-box-1.jpg" alt="">
                                 <div class="box-text">
                                     <span class="trend-year">bags</span>
                                     <h2></h2>
                                     <span class="trend-alert">Trend Allert</span>
                                     <a href="#" class="primary-btn">See More</a>
                                 </div>
                             </div>
                         </div>
                         <div class="col-lg-12">
                             <div class="single-box-item second-box">
                                 <img src="img/f-box-2.jpg" alt="">
                                 <div class="box-text">
                                     <span class="trend-year">Bags</span>
                                     <h2>trendy</h2>
                                     <span class="trend-alert">Bold & Black</span>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-6">
                     <div class="single-box-item large-box">
                         <img src="img/f-box-3.jpg" alt="">
                         <div class="box-text">
                             <span class="trend-year">Bags</span>
                             <h2>Collection</h2>
                             <div class="trend-alert">Trend Allert</div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- Features Section End -->

 <!-- Latest Product Begin -->
<section class="latest-products spad">
  <div class="container">
    <div class="product-filter">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-title">
            <h2>Latest Products</h2>
          </div>
          <ul class="product-controls">
            <li data-filter="*">All</li>
            <li data-filter=".dresses">HandBags</li>
            <li data-filter=".bags">Tote Bags</li>
            <li data-filter=".shoes">Wallet</li>
            <li data-filter=".accesories">Shoulder Bags</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row" id="product-list">
      <% latestProducts.forEach(product => { %>
        <div class="col-lg-3 col-sm-6 mix all <%= product.category?.name || '' %>">
          <div class="single-product-item">
            <figure>
              <a href="/product-details/<%= product._id %>">
                <img src="<%= product.productImage && product.productImage.length > 0 ? product.productImage[0] : '/img/default-product.jpg' %>" alt="<%= product.productName %>">
              </a>

              <% if (product.isNew) { %>
                <div class="p-status">new</div>
              <% } %>

              <% if (product.discountPercent > 0) { %>
                <div class="p-status sale">sale</div>
              <% } %>
            </figure>

            <div class="product-text">
              <h6><%= product.productName %></h6>

              <% if (product.discountPercent > 0) { %>
                <p>
                  <del style="color: gray;">₹<%= product.regularPrice %></del> ₹<%= product.finalPrice %>
                </p>
              <% } else { %>
                <p>₹<%= product.finalPrice %></p>
              <% } %>

            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</section>



 
 <section class="lookbok-section">
     <div class="container-fluid">
         <div class="row">
             <div class="col-lg-4 offset-lg-1">
                 <div class="lookbok-left">
                     <div class="section-title">
                    
                     </div>
                    
                 </div>
             </div>
             <div class="col-lg-5 offset-lg-1">
                 <div class="lookbok-pic">
                     <img src="img/lookbok.jpg" alt="">
                     <div class="pic-text">fashion</div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- Lookbok Section End -->



 <%- include("../../views/partials/user/footer") %>